
<div class="page-container">
    <h1>Broker Dashboard</h1>

    <div class="table-container">
        <button class="ms-auto">Add Asset</button>
        <table id="asset-table" class="table table-bordered table-hover mt-4">
            <thead>
                <th>Name</th>
                <th>Kind</th>
                <th>Action</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="toast" class="toast-container hide">
        <div class="toast toast-custom" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-icon"></div>
            <div class="my-auto">
                <div class="toast-header mb-1">
                    <h3 class="m-0" id="toast-title">Error</h3>
                </div>
                <div class="toast-body" id="toast-body">
                </div>
            </div>

        </div>
    </div>
</div>


