<div class="page-container">
    <h1>Portfolios</h1>

    <div class="investor-details-container p-3 mb-5">
        <div class="investor-details-item pe-3">
            <h4 class="m-0 mb-2">Name</h4>
            <div id="investor-name"></div>
        </div>

        <div class="investor-details-item ps-3">
            <h4 class="m-0 mb-2">Portfolio Count</h4>
            <div id="portfolio-count"></div>
        </div>

    </div>

    <div class="table-container">
        <button id="create-portfolio-button" class="ms-auto">Create Portfolio</button>
        <table id="portfolio-table" class="table table-bordered table-hover mt-4">
            <thead>
            <th>Broker Name</th>
            <th>Created Date & Time</th>
            <th>Action</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="modal fade" id="view-asset-modal" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="view-modal-title">Portfolio Assets</h3>
                </div>
                <div class="modal-body">
                    <table id="portfolio-asset-table" class="table table-bordered table-hover mt-4">
                        <thead>
                        <th>Name</th>
                        <th>Kind</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="view-asset-modal-close" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create-portfolio-modal" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="create-portfolio-modal-title">Create Portfolio</h3>
                </div>
                <div class="modal-body">
                    <label id="broker-label" for="broker">Broker</label>
                    <select id="broker" class="w-100"></select>
                </div>
                <div class="modal-footer">
                    <button id="create-portfolio-modal-close" class="btn-secondary me-2" type="button">Close</button>
                    <button id="create-portfolio-modal-save" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-asset-to-portfolio-modal" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="add-asset-to-portfolio-title">Add Asset to Portfolio</h3>
                </div>
                <div class="modal-body">
                    <label id="asset-label" for="asset">Asset</label>
                    <select id="asset" class="w-100"></select>
                </div>
                <div class="modal-footer">
                    <button id="add-asset-to-portfolio-modal-close" class="btn-secondary me-2" type="button">Close</button>
                    <button id="add-asset-to-portfolio-modal-save" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="toast" class="toast-container hide">
        <div class="toast toast-custom" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-icon"></div>
            <div class="my-auto">
                <div class="toast-header mb-1">
                    <h3 class="m-0" id="toast-title">Error</h3>
                </div>
                <div class="toast-body" id="toast-body">
                </div>
            </div>
        </div>
    </div>
</div>