<div id="login-container">
    <h2 id="login-title">Login</h2>
    <label id="username-label" for="username">Username</label>
    <div id="username-container">
        <input id="username" placeholder="Username" />
        <span id="username-error" class="error-message"></span>
    </div>


    <label id="password-label" for="password">Password</label>
    <div id="password-container">
        <input id="password" type="password" placeholder="Password" />
        <span id="password-error" class="error-message"></span>
    </div>


    <label id="userType-label" for="userType">User Type</label>
    <select id="userType">
        <option value="BROKER">Broker</option>
        <option value="INVESTOR">Investor</option>
    </select>

    <a id="register-button" class="link">No Account? Register here</a>

    <span id="user-details-error" class="error-message"></span>

    <button id="submit" class="mt-4">Login</button>
</div>
