#login-title {
    margin-top: 0
}

#login-container {
    background-color: white;
    margin: auto;
    display: flex;
    width: 300px;
    flex-direction: column;
    border: 1px grey solid;
    border-radius: 8px;
    padding: 16px;
}

#username-label, #password-label, #userType-label, #first-name-label, #last-name-label, #company-label {
    margin-bottom: 8px;
}

#username-container, #password-container, #userType, #last-name-container, #first-name-container, #company-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#profile-details-title {
    margin-top: 0;
    margin-bottom: 16px;
}

#register-investor, #register-broker {

    &.hide {
        display: none;
    }

    display: flex;
    flex-direction: column;
}

#username-error, #password-error {
    margin-top: 4px;
    font-size: 12px;
}

#submit {
    margin-top: 16px;
    background-color: #00a8e8;
    border: #00a8e8 1px solid;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white
}

.link {
    cursor: pointer;
    color: #007ea7;
    text-decoration: underline;
    font-size: 14px;
}