* {
    font-family: 'inter', sans-serif;
}

.invalid-input {
    border-color: red;
}

.error-message {
    color: red;
}

.navbar {
    &.show {
        display: block;
    }

    &.hide {
        display: none;
    }
}

#container {
    background-color: #f9f9f9;
    display: flex;
    min-height: 100vh;
}

input, select {
    padding: 8px;
    border: #777777 1px solid;
    border-radius: 6px;
}