* {
    font-family: 'inter', sans-serif;
}

body {
    background-color: #f9f9f9;
}

.invalid-input {
    border-color: red;
}

.error-message {
    color: red;
}

#container {
    display: flex;
    min-height: 100vh;
}

input, select {
    padding: 8px;
    border: #777777 1px solid;
    border-radius: 6px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

button {
    margin-top: 16px;
    background-color: #00a8e8;
    border: #00a8e8 1px solid;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white
}