* {
    font-family: 'inter', sans-serif;
}

body {
    background-color: #f9f9f9;
}

.invalid-input {
    border-color: red;
}

.error-message {
    color: red;
}

#container {
    display: flex;
    min-height: 100vh;
}

input, select {
    padding: 8px;
    border: #777777 1px solid;
    border-radius: 6px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}